:root {
   --main-color: hotpink;
}

body {
   font-family: "Roboto", sans-serif; 
   background-color: #ffffff;
   color:#434455;
}

a {
   text-decoration: none;
}

.section-1 {
   background:#2e2f42;
   text-align: center;
}

.section-1__btn {
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.section-1__tgp{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.section-3__tgp {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
}

.section-3__list {
   background-color: #FFFFFF;
   
}

.section-4 {
   background-color: #F4F4FD;
}
.email-btn {
   background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
}

.email-btn:hover, .email-btn:focus {
   background-color: #404BBF
}

.h2 {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

button {
   cursor: pointer;
}

.logo {
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   font-family: "Raleway", sans-serif;
   font-weight: 800;
}

.link {
   text-decoration: none;
}

.span {
   color: #2e2f42;

}

.list {
   list-style: none;
}

.nav-btn {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.nav-btn__1, .nav-btn__1:hover {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.nav-btn:hover, .nav-btn:focus{
   color: #404bbf
}


.contacts {
   font-style: normal
}


.b {
   font-size: 16px;
}


